LuyenTap_TX1/TichHop/ThuVien/ThuVien.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ThuVien"
    targetNamespace="http://tempuri.org/ThuVien.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/ThuVien.xsd"
    xmlns:mstns="http://tempuri.org/ThuVien.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="TV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NhaXB">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Sach">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TenSach"></xs:element>
										<xs:element name="TheLoai"></xs:element>
										<xs:element name="SoTrang">
											<xs:simpleType>
												<xs:restriction base="xs:positiveInteger">
													<xs:minExclusive value="50"></xs:minExclusive>
													<xs:maxExclusive value="400"></xs:maxExclusive>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="MaSach">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6"></xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
								</xs:sequence>
						<xs:attribute name="TenNXB">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Giáo dục"></xs:enumeration>
									<xs:enumeration value="Tuổi trẻ"></xs:enumeration>
									<xs:enumeration value="Khoa học kỹ thuật"></xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
					<xs:unique name="Unique_MaSach">
						<xs:selector xpath="Sach"></xs:selector>
						<xs:field xpath="MaSach"></xs:field>
					</xs:unique>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="TenTV" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
