LuyenTap_TX1/TichHop/BenhVienDaKhoa/BenhVien.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BenhVien"
    targetNamespace="http://tempuri.org/BenhVien.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/BenhVien.xsd"
    xmlns:mstns="http://tempuri.org/BenhVien.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="BVDK">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Khoa" minOccurs="3" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TenKhoa">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Nội"></xs:enumeration>
										<xs:enumeration value="Ngoại"></xs:enumeration>
										<xs:enumeration value="Cấp cứu"></xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Phong" type="xs:string"></xs:element>
							<xs:element name="BenhNhan" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="HoTen" type="xs:string"></xs:element>
										<xs:element name="GioiTinh">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Nam"></xs:enumeration>
													<xs:enumeration value="Nữ"></xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NgayNhapVien" type="xs:date"></xs:element>
										<xs:element name="NgayDieuTri">
											<xs:simpleType>
												<xs:restriction base="xs:positiveInteger">
													<xs:minInclusive value="1"></xs:minInclusive>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="MasoBN" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="Unique_MasoBN">
			<xs:selector xpath="Khoa/BenhNhan"></xs:selector>
			<xs:field xpath="@MasoBN"></xs:field>
		</xs:unique>
	</xs:element>
</xs:schema>
