LuyenTap_TX1/TichHop/De1_CongTy/congty.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="congty"
    targetNamespace="http://tempuri.org/congty.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/congty.xsd"
    xmlns:mstns="http://tempuri.org/congty.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="congty">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="phongban" minOccurs="2" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tenphong">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Tổ chức"></xs:enumeration>
										<xs:enumeration value="Hành chính"></xs:enumeration>
										<xs:enumeration value="Đào tạo"></xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dienthoai">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d{10}"></xs:pattern>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="nhanvien" minOccurs="3" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="manv" type="xs:string"></xs:element>
										<xs:element name="hoten">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"></xs:minLength>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="trinhdo" type="xs:string"></xs:element>
										<xs:element name="mucluong" type="xs:int"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="maphong" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
