LuyenTap_TX1/TichHop/Sach/NhaSach.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NhaSach"
    targetNamespace="http://tempuri.org/NhaSach.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/NhaSach.xsd"
    xmlns:mstns="http://tempuri.org/NhaSach.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="nhasach">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cuonsach" minOccurs="3" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="masach">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="s[a-zA-Z0-9]{3}"></xs:pattern>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tensach" type="xs:string"></xs:element>
							<xs:element name="sotrang" type="xs:positiveInteger"></xs:element>
							<xs:element name="tacgia">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hoten">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="3"></xs:minLength>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="diachi">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Hà Nội"></xs:enumeration>
													<xs:enumeration value="Thái Bình"></xs:enumeration>
													<xs:enumeration value="Nam Định"></xs:enumeration>
													<xs:enumeration value="Hải Phòng"></xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="matg" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
